
@{
    ViewData["Title"] = "Thanks";
}

<div class="text-center">
    @*<h3>Thanks for Buying...</h3>*@
    <img src="~/images/TQ.jpg" style="height:500px;width:500px" />
</div>

<div class="text-center">
    <a asp-action="Index" class="btn btn-lg btn-outline-primary">Continue Shopping</a>
</div>
