
@{
    ViewData["Title"] = "ForgotPassword";
}

<h1>Forgot Password</h1>

<form asp-action="ForgotPassword" method="post" class="form-outline mb-4">
    <div class="form-group col-md-4 mb-3">
        @*<label for="Email">Email : </label>*@
        <input class="form-control" type="email" name="Email" placeholder="Enter Email" />
    </div>
    <div class="@*text-center *@col-md-4 mb-3">
        <button type="submit" class="btn btn-primary btn-block mb-4">Submit</button>
    </div>
</form>